<div class="outlet">
  <div class="w-full max-w-sm p-6 rounded-xl shadow bg-background-card">
    <h2 class="text-2xl font-bold mb-6 text-center text-primary-light">
      Sign In
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="w-full px-4 py-2 border border-border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-accent"
      />

      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="w-full px-4 py-2 border border-border rounded-lg focus:outline-none focus:ring-1 focus:ring-primary-accent"
      />

      <button
        type="submit"
        class="w-full bg-primary-accent text-white py-2 rounded-lg hover:bg-primary-accent-hover transition"
      >
        Sign In
      </button>
    </form>

    <p class="text-sm text-center mt-4">
      Don't have an account?
      <a routerLink="/sign-up" class="text-primary-accent hover:underline"
        >Sign Up</a
      >
    </p>
  </div>
</div>
