<div class="outlet flex-col pt-0">
  <div class="w-full max-w-sm p-6 rounded-xl shadow bg-background-card">
    <h2 class="text-2xl font-bold mb-6 text-center text-primary-light">
      Sign In
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <input
          formControlName="email"
          type="email"
          placeholder="Email"
          class="w-full px-4 py-2 border border-border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-accent"
        />

        <div
          *ngIf="email?.invalid && email?.touched"
          class="text-red-500 text-sm"
        >
          <span *ngIf="email?.errors?.['required']">Email is required.</span>
          <span *ngIf="email?.errors?.['email']"
            >Enter a valid email address.</span
          >
        </div>
      </div>

      <div class="relative">
        <input
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          class="w-full px-4 py-2 border border-border rounded-lg focus:outline-none focus:ring-1 focus:ring-primary-accent"
        />

        <button
          type="button"
          (click)="showPassword = !showPassword"
          class="absolute top-1/2 right-3 transform -translate-y-1/2 text-sm text-gray-500 self-center"
        >
          {{ showPassword ? "Hide" : "Show" }}
        </button>
        <div
          *ngIf="password?.invalid && password?.touched"
          class="text-red-500 text-sm"
        >
          <span *ngIf="password?.errors?.['required']"
            >Password is required.</span
          >
          <span *ngIf="password?.errors?.['minlength']"
            >Password must be at least 6 characters long.</span
          >
        </div>
      </div>

      <button
        type="submit"
        [disabled]="form.invalid || loading"
        class="w-full bg-primary-accent text-white py-2 rounded-lg hover:bg-primary-accent-hover transition disabled:opacity-50 disabled:cursor-not-allowed justify-center flex items-center"
      >
        <span *ngIf="!loading" class="">Sign In</span>
        <span *ngIf="loading" class="animate-pulse">
          <span *ngIf="loading" class="flex items-center">
            <svg class="animate-spin h-5 w-5 mr-2" viewBox="0 0 24 24">
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
                fill="none"
              />
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              />
            </svg>
            Processing...
          </span>
        </span>
      </button>
    </form>

    <p class="text-sm text-center mt-4">
      Don't have an account?
      <a routerLink="/sign-up" class="text-primary-accent hover:underline"
        >Sign Up</a
      >
    </p>
  </div>

  <div *ngIf="errorMessage" class="text-red-500 text-sm mt-6">
    {{ errorMessage }}
  </div>
</div>
