<header
  class="w-full bg-gradient-to-r from-primary-light to-primary text-white py-4 header shadow flex justify-between items-center"
>
  <h1 class="text-xl font-semibold tracking-wide">MySMS Messenger</h1>

  <div class="flex items-center gap-4">
    <ng-container *ngIf="decodedToken$ | async as token; else loggedOut">
      <span>Hello, {{ username }}</span>
      <button
        (click)="logOut()"
        class="bg-white text-indigo-600 px-4 py-1 rounded hover:bg-gray-100 transition"
      >
        Logout
      </button>
    </ng-container>

    <ng-template #loggedOut>
      <a routerLink="/sign-in" class="hover:underline">Sign In</a>
      <a routerLink="/sign-up" class="hover:underline">Sign Up</a>
    </ng-template>
  </div>
</header>
