<!-- <div *ngIf="isLoading" class="text-center text-gray-500">
  Loading messages...
</div>
<div *ngIf="error" class="text-red-500 text-center">{{ error }}</div>

<ul *ngIf="messages.length" class="space-y-4">
  <li *ngFor="let msg of messages" class="border p-4 rounded shadow">
    <div class="text-sm text-gray-500">
      {{ msg.created_at | date : "short" }}
    </div>
    <div class="font-medium">To: {{ msg.to }}</div>
    <div class="text-gray-800">{{ msg.body }}</div>
    <div class="mt-2 text-sm font-semibold">
      Status:
      <span
        [ngClass]="{
          'text-green-600': msg.status === 'delivered',
          'text-yellow-600': msg.status === 'sent' || msg.status === 'sending',
          'text-blue-600': msg.status === 'queued',
          'text-red-600':
            msg.status === 'undelivered' || msg.status === 'failed',
          'text-gray-500': !msg.status
        }"
      >
        {{ msg.status || "pending" }}
      </span>
    </div>
  </li>
</ul>

<div
  *ngIf="!isLoading && messages.length === 0"
  class="text-center text-gray-500"
>
  No messages sent yet.
</div> -->

<div class="shadow-lg rounded-xl bg-background-card">
  <h2
    class="text-xl font-bold mb-4 text-primary-light pt-6 md:pt-8 lg:pt-12 pb-8 px-8 md:px-12 lg:px-16"
  >
    Message History ({{ messages.length }})
  </h2>

  <div
    class="space-y-6 lg:max-h-[600px] lg:overflow-y-auto px-8 md:px-12 lg:px-16 pb-6 md:pb-8 lg:pb-12"
  >
    <div *ngIf="isLoading" class="text-gray-500">Loading messages...</div>
    <div *ngIf="error" class="text-red-500">{{ error }}</div>
    <div *ngFor="let msg of messages" class="">
      <div class="message-meta">
        <div class="message-to">{{ msg.to }}</div>
        <span class="text-gray-500">
          {{ msg.created_at | date : "fullDate" }}
          {{ msg.created_at | date : "shortTime" }}
        </span>
      </div>
      <div class="message-body border-border">{{ msg.body }}</div>
      <div class="flex justify-between items-center">
        <div
          class="message-status mt-2 text-sm font-light italic animate-fade-in"
        >
          <span
            [ngClass]="{
              'text-secondary-accent': msg.status === 'delivered',
              'text-yellow-600':
                msg.status === 'sent' || msg.status === 'sending',
              'text-primary-accent': msg.status === 'queued',
              'text-red-600':
                msg.status === 'undelivered' || msg.status === 'failed',
              'text-gray-500': !msg.status
            }"
          >
            {{ msg.status || "pending" }}
          </span>
        </div>
        <div class="message-length">{{ msg.body?.length || 0 }}/250</div>
      </div>
    </div>
  </div>
</div>
