/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@layer base {
  :root {
    /* --color-primary: rgba(99, 102, 241, 1); /* #6366F1 */
    /* --color-primary-dark: rgba(79, 70, 229, 1); /* #4F46E5 */
    --color-success: rgba(34, 197, 94, 1); /* #22C55E */
    --color-danger: rgba(239, 68, 68, 1); /* #EF4444 */
    --color-bg-light: rgba(249, 250, 251, 1); /* #F9FAFB */
    --color-white: rgba(255, 255, 255, 1); /* #FFFFFF */
    --color-text-primary: rgba(17, 24, 39, 1); /* #111827 */
    --color-text-secondary: rgba(107, 114, 128, 1); /* #6B7280 */
    /* --color-border-default: rgba(229, 231, 235, 1); #E5E7EB */
  }
}

@theme {
  --color-primary: rgba(41, 50, 65, 1);
  --color-primary-light: rgba(71, 85, 105, 1);
  --color-accent: rgba(74, 222, 128, 1);
  --color-accent-hover: rgba(34, 197, 94, 1);
  --color-background-light: rgba(245, 247, 250, 1);
  --color-background-card: rgba(255, 255, 255, 1);
  --color-border: rgba(229, 231, 235, 1);
  --color-error: rgba(239, 68, 68, 1);
  --color-success: rgba(34, 197, 94, 1);
  --color-info: rgba(59, 130, 246, 1);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

.outlet {
  @apply min-h-[calc(100vh-64px)] h-full flex items-center justify-center p-4 md:p-8 lg:p-12;
}

.card {
  @apply shadow-lg rounded-xl bg-white py-6 md:py-8 lg:py-12 px-8 md:px-12 lg:px-16;
}

.message-meta {
  @apply flex justify-between items-center text-sm mb-1;
}

.message-to {
  @apply font-bold  flex items-center gap-1;
}

.message-body {
  @apply text-gray-900 whitespace-pre-line border border-gray-300 rounded-lg p-2;
}

.message-length {
  @apply text-right text-xs text-gray-500 mt-1;
}

.input-field {
  @apply mt-1 block w-full p-2 rounded-md border  focus:border-blue-500 focus:ring-blue-500 sm:text-sm;
}

.label {
  @apply block text-sm font-medium;
}
